@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
    --font-primary: "Inter";
    --color-primary: oklch(60.9% 0.154 211.53);
    --color-dark: #0891B2;
    --color-lighter: #A5F3FC;
    --color-light: #ECFEFF;
    --color-normalbg: #f3f4f6;
    --color-darkbg: #1e2939;
}
